mat-toolbar {
  background: #004a9f;
  color: white;
}

mat-sidenav {
  width: 100px;
  border-right: none;
  background: #ffffff;
  color: #08294E;
  text-align: center;
  border-radius: 10px;
}

.content {
  color: rgb(82, 78, 78);
  height: 100vh;
  background-color: #ccc;
}

mat-sidenav-container {
  height: 100vh;
}
.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  padding: 3px;
}
mat-icon{
  margin-right:8px;
  margin-left: 10px;
}

.active{
  color: #991c1c;
}

.head-main{
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 1rem!important;
}

.sidebar{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 89vh;
  color: rgb(82, 78, 78);
}

.header-nav{
  background-color: rgb(82, 78, 78);
  overflow: hidden;
  color: #ffffff;
}

.header-icons{
  float: right;
}


.sidenav-link{
  cursor: pointer;
}
